<html>
    <head>
        <title>Cryptofolio </title>
        <link rel="stylesheet" href="/css/about.css">
      </head>

    <body>
        <div class="banner1">
            <img src="/assets/img/b1.jpg">
            <div class="text-box text-box1">
                <h1>About Us</h1>
                <span></span>
                <p>about us...</p>
            </div>
        </div>
        <div class="banner2">
            <img src="b2.jpg">
            <div class="text-box text-box2">
                <h1>About Us</h1>
                <span></span>
                <p>about us...</p>
            </div>
        </div>
        <div class="banner3">
            <img src="b3.jpg">
            <div class="text-box text-box3">
                <h1>About Us</h1>
                <span></span>
                <p>about us...</p>
            </div>
        </div>
    </body>
</html>