<html>
<head>
  <title>Cryptofolio | About </title>
  <link rel="stylesheet" href="/css/about.css">
  <script src="http://localhost:3000/js/about.js"></script>
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="content">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active container">
          <div id="about-2">
            <div class="content-box-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                           <div class="about-item text-center">
                            <i class="fa fa-book"></i>
                            <h3>ABOUT US</h3>
                            <hr>
                            <p> Aviad Shimoni | Tzvika Tubis <br/>Omer Sharon &nbsp;| Moran Eshel </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                           <div class="about-item text-center">
                            <i class="fa fa-globe"></i>
                            <h3>OUR PROJECT</h3>
                            <hr>
                            <p> Cryptofolio is a cryptocurrency portfolio tracker app that allows you to track your historical transactions,
                              their value and get statistics about them with over 20 cryptocurrencies supported.
                              Join now in order to save your precious coins from malware/phishing activities. </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                           <div class="about-item text-center">
                            <i class="fa fa-pencil"></i>
                            <h3>WHY US</h3>
                            <hr>
                            <p> Manage your wallet with complete security </br>and comfort. </p>
                            </div>
                         </div>
                     </div>
                   </div>
                </div>
             </div>   
        </div>


        <div class="carousel-item">
          <div class="container">
            <form id="contactForm" onsubmit="sendEmail(); reset(); return false;">
              <h2>Get In Touch</h2>
              <input type="text" name="name" placeholder="Your Name" required>
              <input type="text" name="subject" placeholder="Subject" required>
              <textarea name="message" rows="4" placeholder="How we can help you?"></textarea>
              <button type="submit">Send</button>
          </form>
          </div>
        </div>
      </div>

      
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>
</body>
</html>