<html>
<head>
  <title>Cryptofolio | Exhanges </title>
  <link rel="stylesheet" href="/css/about.css">
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="content">
  </div>
</div>
</body>
</html>