<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Cryptofolio | Coin Manager </title>
  <link rel="icon" type="image/png" href="/img/logo.png" />
  <link rel="stylesheet" href="/css/coin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

   <!-- The Modal -->
   <div class="modal" id="createModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add New Coin</h4>
          <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="/api/coins">
                <div class="modal-body">  
                    <div class="form-group">
                        <label for="name" class="text-dark w-25">Name</label>
                        <input type="text" class="w-50" name="name" placeholder="ie: Bitcoin">
                    </div>
                    <div class="form-group">
                        <label for="shortName" class="text-dark w-25">Short Name</label>
                        <input type="text" class="w-50" name="shortName" placeholder="BTC">
                    </div>
                </div>
                <div class="modal-footer">
                  <div class="form-group">
                      <button type="Create" class="btn btn-success create">Create</button>
                  </div>
              </div>
            </form>
        </div>
  
        <!-- Modal footer -->
      </div>
    </div>
  </div>
  
   <!-- The Modal -->
   <div class="modal" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" id="update_coin">
                <div class="modal-body">  
                    <div class="form-group">
                      <label for="name" class="text-dark w-25">Name</label>
                      <input type="hidden" name="id">
                      <input type="text" class="w-50" name="name" onchange="edit_name_change()" placeholder="ie: Bitcoin">
                    </div>
                    <div class="form-group">
                      <label for="shortName" class="text-dark w-25">Short Name</label>
                      <input type="text" class="w-50" name="shortName" placeholder="BTC">
                  </div>
                  <div class="form-group">
                      <input type="hidden" name="icon">
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="form-group">
                      <button type="Update" class="btn btn-danger update">Save</button>
                  </div>
              </div>
            </form>
        </div>
  
        <!-- Modal footer -->
      </div>
    </div>
  </div>
  
  <script src="http://localhost:3000/js/coin_manager.js"></script>

<body>
<div class="header">
  <nav>
    <div class="logo">
      <img src="/img/logo.png">
      <span>Cryptofolio</span>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/maps">Local Crypto Exchanges</a></li>
      <li><a href="/contact">Contact </a> </li>
      <% if(locals.isAdmin) { %>
        <li><a href="/admin">Admin Dashboard</a></li>
      <% } %>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>

  <div class="content">
    <!-- form handling -->
    <div class="d-flex flex-row-reverse">
        <a class="btn border-shadow update btn-light p-2" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#createModal">
          <i class="bi bi-file-earmark-plus"></i>
        </a>
    </div>
    <form action="/" method="POST">
        <table class="table text-white">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Short name</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <%- include('include/_coins') %>
          </tbody>
        </table>
      </form>
  </div>
</body>
</html>