<html>
<head>
  <title>Cryptofolio | Coin Manager </title>
  <link rel="stylesheet" href="/css/coin.css">
  <script src="http://localhost:3000/js/coin_manager.js"></script>
  <%- include('include/_header') %>
</head>
   <!-- The Modal -->
   <div class="modal" id="createModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Add New Coin</h4>
          <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" action="/api/coins" id="createForm">
                <div class="modal-body">  
                    <div class="form-group">
                        <label for="name" class="text-dark w-25">Name</label>
                        <input type="text" class="w-50" name="name" onkeyup="return validateName(this)" placeholder="ie: Bitcoin" required>
                    </div>
                    <div class="form-group">
                        <label for="shortName" class="text-dark w-25">Short Name</label>
                        <input type="text" class="w-50" name="shortName" onkeyup="return validateShortName(this)" placeholder="BTC" required>
                    </div>
                </div>
                <div class="modal-footer">
                  <div class="form-group">
                      <button type="Create" class="btn btn-success create">Create</button>
                  </div>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
  
   <!-- The Modal -->
   <div class="modal" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form method="POST" id="update_coin" id="editForm">
                <div class="modal-body">  
                    <div class="form-group">
                      <label for="name" class="text-dark w-25">Name</label>
                      <input type="hidden" name="id">
                      <input type="text" class="w-50" name="name" onkeyup="return validateShortName(this)" placeholder="ie: Bitcoin" required>
                    </div>
                    <div class="form-group">
                      <label for="shortName" class="text-dark w-25">Short Name</label>
                      <input type="text" class="w-50"  name="shortName" onkeyup="return validateShortName(this)" onchange="edit_shortName_change()" placeholder="BTC" required>
                  </div>
                  <div class="form-group">
                      <input type="hidden" name="icon">
                  </div>
                </div>
                <div class="modal-footer">
                  <div class="form-group">
                      <button type="Update" class="btn btn-danger update">Save</button>
                  </div>
              </div>
            </form>
        </div>
  
        <!-- Modal footer -->
      </div>
    </div>
  </div>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="content">
    <!-- form handling -->
    <div class="d-flex flex-row-reverse">
        <a class="btn border-shadow update btn-light p-2" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#createModal">
          <i class="bi bi-file-earmark-plus"></i>
        </a>
    </div>
    <form action="/" method="POST">
        <table class="table text-white">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Short name</th>
            <th>Name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody id="coinTable">
          <%- include('include/_coins') %>
          </tbody>
        </table>
      </form>
  </div>
</body>
</html>