<html>
<head>
  <title>Cryptofolio | Contact </title>
  <link rel="stylesheet" href="../assets/css/contact.css">
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="container">
    <form onsubmit="sendEmail(); reset(); return false;">
      <h2>Get In Touch</h2>
      <input type="text" id="name" placeholder="Your Name" required>
      <input type="email" id="email" placeholder="Email" required>
      <textarea id="message" rows="4" placeholder="How we can help you?"></textarea>
      <button type="submit">Send</button>
  </form>
  </div>
  <script src="https://smtpjs.com/v3/smtp.js"></script>
  <script>
    function sendEmail(){
      Email.send({
        Host:"smtp.gmail.com",
        Username:"ccryptofolio@gmail.com",
        Password:"cryptofolio1!",
        To:'moran.esh@gmail.com',
        From: document.getElementById("email").value,
        Subject:"New Contact Form Enquiry",
        Body:"Name: " +document.getElementById("name").value
        +"<br> Email: " +document.getElementById("email").value
        +"<br> Message " +document.getElementById("message").value
  

      }).then(
        message=>alert("Message Send Succesfully ")
      );
    }
  </script>
</div>
</body>
</html>