<html>   
    <head>
        <title>Cryptofolio </title>
        <link rel="stylesheet" href="/assets/css/contact.css">
    </head>

    <body>
        <div class="contact-title">
            <h1>Say Hello</h1>
            <h2>We are always ready to serve you!</h2>
        </div>

        <div class="contact-form">
            <form id="contact-form" method="post" action="contact-from-handler.php">
                <input name="name" type="text" class="form-control" placeholder="Your Name" required>
                <br>
                <input name="email" type="email" class="form-control" placeholder="Your Email" required>
                <textarea name="message" class="form-control" placeholder="Message" rows="4" required></textarea>
                <input type="submit" class="form-control submit" value="Send Message">
            </form>
        </div>
        
    </body>
</html>