<html>
<head>
  <title>Cryptofolio | Coord Manager </title>
  <link rel="stylesheet" href="/css/coords.css">
  <script src="http://localhost:3000/js/coord_manager.js"></script>
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
   <!-- The Modal -->
 <div class="modal" id="createModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add New Location</h4>
        <button type="button" onClick="clean_modal(this)" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form method="POST" action="/api/coords">
              <div class="modal-body">  
                  <div class="form-group">
                      <label for="locationName" class="text-dark w-25">Location Name</label>
                      <input type="text" class="w-50" name="locationName" placeholder="ie: Bits of Gold" required>
                  </div>
                  <div class="form-group">
                      <label for="latitude" class="text-dark w-25">Latitude</label>
                      <input type="number" class="w-50" name="latitude" placeholder="32.45454" required>
                  </div>
                  <div class="form-group">
                      <label for="longitude" class="text-dark w-25">Longitude</label>
                      <input type="number" class="w-50" name="longitude" placeholder="21.456432" required>
                  </div>
              </div>
              <div class="modal-footer">
                <div class="form-group">
                    <button type="Create" class="btn btn-success create">Create</button>
                </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

 <!-- The Modal -->
 <div class="modal" id="editModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Edit</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <form method="POST" id="update_coord">
              <div class="modal-body">  
                  <div class="form-group">
                      <label for="locationName" class="text-dark w-25">Location Name</label>
                      <input type="hidden" name="id">
                      <input type="text" class="w-50" name="locationName" placeholder="ie: Bits of Gold" required>
                  </div>
                  <div class="form-group">
                      <label for="number" class="text-dark w-25">Latitude</label>
                      <input type="number" class="w-50" name="latitude" placeholder="32.45454" required>
                  </div>
                  <div class="form-group">
                      <label for="longitude" class="text-dark w-25">Longitude</label>
                      <input type="number" class="w-50" name="longitude" placeholder="21.456432" required>
                  </div>
              </div>
              <div class="modal-footer">
                <div class="form-group">
                    <button type="Update" class="btn btn-danger update">Save</button>
                </div>
            </div>
          </form>
      </div>

      <!-- Modal footer -->
    </div>
  </div>
</div>
  
  <div class="content">
    <!-- form handling -->
    <div class="d-flex flex-row-reverse">
      <a class="btn border-shadow update btn-light p-2" role="button" aria-pressed="true" data-bs-toggle="modal" data-bs-target="#createModal">
        <i class="bi bi-file-earmark-plus"></i>
      </a>
    </div>
    <form action="/" method="POST">
        <table class="table text-white">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Location Name</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          <%- include('include/_coords') %>
          </tbody>
        </table>
      </form>
  </div>
</body>
</html>
