<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Cryptocurrency Website </title>
        <link rel="stylesheet" href="../assets/css/home.css">
    </head>

    <body>
       <div class="heder">
            <nav>
                 <div class="logo">
                      <img scr="login-reg-img/logo.png">
                      <span>Crypto.</span>
                 </div>
                <ul>
                     <li><a href="#">Home</a></li>
                     <li><a href="#">Features</a></li>
                     <li><a href="#">Support</a></li>
               </ul>
            </nav>

            <div class="content">
                <h1 class="slide-left">The<br> &nbsp Future</h1>
                <p class="slide-left">This is our digital wallet.<br> We invite you to a place where you can see your money safely 
                    and enjoy the experience of using it in a convenient, fast way.</p>
                <div class="links slide-left">
                    <a href="#"><span></span>Learn More</a>
                    <a href="#"><span></span>Or Contact</a>
                </div>
            </div>
        </div> 
    </body>
</html>