<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Cryptofolio </title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div class="header">
  <nav>
    <div class="logo">
      <img src="/img/logo.png">
      <span>Cryptofolio</span>
    </div>
    <ul>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/maps">Local Crypto Exchanges</a></li>
    </ul>
  </nav>

  <div class="content">
    <h1 class="slide-left">Stay<br> &nbsp Secure</h1>
    <p class="slide-left"><br> Setup your account in a few clicks
      and manage all your crypto directly from Cryptofolio.</p>
    <div class="links slide-left">
      <a href="/login">Login</a>
    </div>
  </div>
</div>
</body>
</html>