<%- include('include/_header') %>

<main class="site-main">
  <h1>Login</h1>
  <form action="">
    <label for="email">Email</label>
    <input id="email" name="email" type="text" placeholder="Enter Email" />
    <label for="email">Password</label>
    <input id="password" name="password" type="password" />
  </form>
</main>
