<html>
<head>
  <title>Cryptofolio | Exhanges </title>
  <link rel="stylesheet" href="/css/maps.css">
  <script src="http://localhost:3000/js/map.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&sensor=false"></script>
  <%- include('include/_header') %>
</head>

<body>
<div class="header">
  <%- include('include/_nav') %>
  <div class="content">
    <body onload='showLocalizations()'>
    <div id="googleMap" style="position:fixed;top:0px;left:0px;width:100%;height:80%;"></div>
  </div>
</div>
</body>
</html>