<!DOCTYPE html>
<html>
<head>
    <script src="http://maps.googleapis.com/maps/api/js?key=<%= maps_key %>&sensor=false"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
function showLocalizations() {
    $.get( "http://localhost:3000/api/coords", function( data ) {
        console.log( data );
        var point = new google.maps.LatLng(31.5, 35);
        var mapProp = {
            center:point,
            zoom:8,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        // Creating map object
        var map=new google.maps.Map(document.getElementById("googleMap"), mapProp);
        $.each((data), function(idx, obj) {
            var point = new google.maps.LatLng(obj.latitude, obj.longitude);
            var infowindow = new google.maps.InfoWindow({content: "<span>"+obj.locationName+"</span>"});
            var marker = new google.maps.Marker({
                position: point,
                map: map,
                title: obj.locationName
            });
            google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map,marker);});
        });  
    });
}
</script>
</head>
<body onload='showLocalizations()'>
<div id="googleMap" style="position:fixed;top:0px;left:0px;width:100%;height:700px;">
</body>
</html>