<!-- include header -->
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Cryptofolio </title>
    <link rel="stylesheet" href="/css/user_home.css">

</head> <!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="header">
        <nav>
            <div class="logo">
                <img src="/img/logo.png">
                <span>Cryptofolio</span>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/transactions">Transactions</a></li>
                <li><a href="/statistics">Statistics</a></li>
                <li><a href="/maps">Local Crypto Exchanges</a></li>
                <li><a href="/contact">Contact </a> </li>
                <% if(locals.isAdmin) { %>
                    <li><a href="/admin">Admin Dashboard</a></li>
                    <% } %>
                        <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1 class="slide-left">Welcome back<br> &nbsp <%= user.name %>
            </h1>
            <br>
            <br>
            <!-- form handling -->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Coin</th>
                            <th>Amount</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_trans') %>
                    </tbody>
                </table>
            </form>
        </div>
        
        <div style="margin:0 auto ; width:50%; padding:20px">
            <form action="/api/transactions" method="post">
                <label>amount</label>
                <input type="text" name="amount">
                <br /> <br /> <br /> <br />
                <label>coinId</label>
                <input type="text" name="coinId">
                <br /> <br /> <br /> <br />
                <label>userEmail</label>
                <input type="text" name="userEmail">
                <br /> <br /> <br /> <br />
                <label>date</label>
                <input type="text" name="date">
                <br /> <br /> <br /> <br />
                <button>submit</button>
            </form>
        </div>

</main>
<!-- include footer -->
<%- include('include/_footer') %>
    <!-- /include footer -->

</html>