<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <!-- body handling -->

        <body>
            <div class="container">
                <div class="jumbotron">
                    <h1>Transactions Page</h1>
                    <p>Latest Transactions</p>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="table-light">
                            <tr>
                                <th>Coin</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>

                            <% for (var i=0; i < transactions.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= transactions[i].coinId %>
                                    </td>
                                    <td>
                                        <%= transactions[i].amount %>
                                    </td>
                                    <td>
                                        <%= transactions[i].date %>
                                    </td>
                                </tr>
                                <% } %>
                    </table>

                    <button class="btn-42"><span>Add New Transaction</span></button>
        </body>
    </main>