<!DOCTYPE html>
<html lang="en">

<head>
    <title>Transactions Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Transactions Page</h1>
            <p>Latest Transactions</p>
        </div>
        <p>This is some text.</p>
        <p>This is another text.</p>
        <div class="table-responsive">
            <table class="table">
                <thead class="table-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Icon</th>
                        <th scope="col">Date</th>
                        <th scope="col">Coin</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Sell</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>MeSSI</td>
                        <td>Dog</td>
                        <td>1.1.2010</td>
                        <td>bitcoin</td>
                        <td>no</td>
                        <td>yes</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>SCOOT</td>
                        <td>Dog</td>
                        <td>1.1.2010</td>
                        <td>bitcoin</td>
                        <td>no</td>
                        <td>yes</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>YOU</td>
                        <td>Men</td>
                        <td>1.1.2010</td>
                        <td>bitcoin</td>
                        <td>no</td>
                        <td>yes</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">Add New Transaction</button>
    </div>

</body>