<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modal Header</h4>
</div>
<form method="POST" id="update_coord">
    <div class="modal-body">
        <div class="form-group">
            <label for="locationName" class="text-light">Location Name</label>
            <input type="hidden" name="id" value="<%= coord._id %>">
            <input type="text" name="locationName" value="<%= coord.locationName %>" placeholder="ie: Bits of Gold">
        </div>
        <div class="form-group">
            <label for="latitude" class="text-light">Latitude</label>
            <input type="text" name="latitude" value="<%= coord.latitude%>" placeholder="32.45454">
        </div>
        <div class="form-group">
            <label for="longitude" class="text-light">Longitude</label>
            <input type="text" name="longitude" value="<%= coord.longitude%>" placeholder="21.456432">
        </div>
    </div>
    <div class="modal-footer">
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>
