<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="footer-copyright text-center py-1">
      <p1>© 2022 Copyright: Cryptofolio | Aviad Shimoni | Tzvika Tubis | Omer Sharon | Moran Eshel</p1>
    </div>
</footer>