<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptofolio</title>

    <link rel="stylesheet" href="css/reset.min.css"/>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- Header -->
    <!-- Header Start -->
    <header class="site-header">
        <div class="wrapper site-header__wrapper">
            <div class="site-header__start">
                <a href="/" class="brand">Cryptofolio</a>
            </div>
            <div class="site-header__middle">
                <nav class="nav">
                    <button class="nav__toggle" aria-expanded="false" type="button">
                        menu
                    </button>
                    <ul class="nav__wrapper">
                        <li class="nav__item"><a href="/">Home</a></li>
                        <li class="nav__item"><a href="/about">About</a></li>
                        <li class="nav__item"><a href="/transactions">Transactions</a></li>
                        <li class="nav__item"><a href="/maps">Local Crypto Exchanges</a></li>
                        <li class="nav__item"><a href="/maps">Statistics</a></li>
                        <li class="nav__item"><a href="/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="site-header__end">
                <a class="button" href="/logout">Sign out</a>
                <% if(locals.isAdmin) { %>
                <a class="button" href="/admin">Admin Page</a>
                <% } %>
            </div>
        </div>
    </header>
    <script src="js/header.js"></script>
</body>
</html>
    <!-- /Header -->
