<% if(locals.isAuth) { %>
<nav>
  <div class="logo" onclick="location.href='/'">
    <img src="/img/logo.png">
    <span>Cryptofolio</span>
  </div>
  <ul>
    <li><a href="/transactions">Transactions</a></li>
    <li><a href="/maps">Local Crypto Exchanges</a></li>
    <li><a href="/contact">Contact </a> </li>
    <% if(locals.isAdmin) { %>
      <li><a href="/admin">Admin Dashboard</a></li>
    <% } %>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
<% } %>
<% if(!locals.isAuth) { %>
<nav>
  <div class="logo" onclick="location.href='/'">
    <img src="/img/logo.png">
    <span>Cryptofolio</span>
  </div>
  <ul>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/maps">Local Crypto Exchanges</a></li>
  </ul>
  <canvas id="canvas" width="480" height="480"></canvas>
  <script src="http://localhost:3000/js/canvas.js"></script>
</nav>
<% } %>