<% for(var i=0; i < transactions.length; i++) { %>
    <tr>
        <td>
            <%= transactions[i].coinId %>
        </td>
        <td>
            <%= transactions[i].amount %>
        </td>
        <td>
            <%= transactions[i].date %>
        </td>
    </tr>
    <% } %>